<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    
  </configSections>
  <connectionStrings>
    <add name="ImgR.Properties.Settings.ImgRConnectionString"
      connectionString="Data Source=WN-SQLTEAM-DSRV;Initial Catalog=Newsletter;User ID=development;Password=password"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>